.container{
    background-color: #222222;
}
.total{
    padding: 2px;
    padding-top: 1px;
}
.button{
    text-align: left;
    padding: 20px;
    padding-left: 10%;
    display: flex;
    justify-content: space-around;
}
.button button{
    padding: 10px;
    border: 3px solid;
    border-radius: 20px;
}
.total h1{
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    padding: 5px;
    background-color: #222222;
    color: white;
}
.result{
    padding: 2px;
    color: white;
    border: 1px solid olive;
}
.result #demo{
    padding-top: 1rem;
    padding-bottom: 4px;
}